<mat-toolbar>
  <span>Update Household Details</span>
  <span class="menu-spacer"></span>
  <!-- <button mat-mini-fab color="primary" (click)="triggerCamera()" aria-label="Click to open camera for qr code scanning">
    <mat-icon>camera_alt</mat-icon>
  </button> -->
</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <form [formGroup]="updateForm">
        <mat-form-field class="justifier">
          <mat-label>Mobile Number</mat-label>
          <input matInput type="number" name="mobileNo" formControlName="mobileNoControl" required min="0" [readonly]="disableForm" autofocus>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Total Male</mat-label>
          <input matInput type="number" name="totalMale" formControlName="totalMaleControl" min="0" [readonly]="disableForm" required>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Total Female</mat-label>
          <input matInput type="number" name="totalFemale" formControlName="totalFemaleControl" min="0" [readonly]="disableForm" required>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Members (Age over 60)</mat-label>
          <input matInput type="number" name="ageOverFifty" formControlName="ageOverFiftyControl" min="0" [readonly]="disableForm" required>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Members (Age below 10)</mat-label>
          <input matInput type="number" name="ageBelowTen" formControlName="ageBelowTenControl" min="0" [readonly]="disableForm" required>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Nationality</mat-label>
          <mat-select name="nationality" formControlName="nationalityControl" [readonly]="disableForm" required>
            <mat-option *ngFor="let nationality of nationalities" [value]="nationality.id">
              {{nationality.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="justifier">
          <mat-label>Emergency Mobile Number</mat-label>
          <input matInput type="number" name="emergencyMobileNo" formControlName="emergencyMobileNoControl" min="0" [readonly]="disableForm" required>
        </mat-form-field>
      </form>
    </div>
    <div class="form-footer">
      <button mat-raised-button class="btn custom-btn" (click)="update()" color="primary" [disabled]="!updateForm.valid">
        <mat-icon>note_add</mat-icon> UPDATE
      </button>
    </div>
  </div>
</div>
