<mat-toolbar>
  <span>Select a structure</span>
  <span class="menu-spacer"></span>
  <button mat-raised-button (click)="toggleAdd()" color="primary">
    <mat-icon>add</mat-icon>
    <mat-label>Add Structure</mat-label>
  </button>
</mat-toolbar>
<div class="map-container">
  <div class="map-frame">
    <div id="map">
      <div class="leaflet-bottom leaflet-right">
          <button style="
          width: 42px;
          border-radius: 23px;
          height: 42px;
          background: #ffffffa3;
          margin-bottom: 20px;
          border: none;" value="Cancel" class=" span3 leaflet-control" (click)="getMyLocation()">
            <mat-icon style="color: blue;">location_searching</mat-icon>
          </button>
      </div>
    </div>
  </div>
</div>
